<ion-view view-title="Products">
    <ion-content>
        <ion-list show-delete="false" can-swipe="false" on-swipe-down="onSwipeDown()" >
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product/{{product._id}}">
                <img ng-src="{{product.pic_url}}">
                <h2>{{product.product_name}}</h2>  
                <span>{{product.spec}} {{product.unit_quantity}}</span>
                <p><label for="">价格：￥</label>{{product.price}}</p>
                <p>{{product.sup_info}}</p>
                <!-- <p><img ng-src="{{product.pic_url}}"></p> -->
                <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
